hr {
	width: 300px;
}

/* 프로젝트 목록 */

.wrapper {
	width: 800px;
	height: 600px;
	margin: auto;
	border: 1px solid #cacaca;
	border-radius: 10px;
	font-size: 13px;
	color: #444444;
}

.title{
	padding: 20px 30px 20px 30px;
	height: 20px;
	font-weight: bold;
}

.content{
	border: 1px solid #cacaca;
	border-radius: 5px;
	margin: 0 30px 0 30px;
	height: 520px;
}

.list{
	display: block;
	margin: 10px;
	height: 500px;
	overflow: auto;
}

.list li {
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #828282;
	padding: 20px 0 20px 0;
}

.list li:hover{
	background-color: #f0f0f0;
}

/* 버튼 */

.button {
	border-left: 1px solid #828282;
	border-top: 1px solid #828282;
	border-right: 2px solid #444444;
	border-bottom: 2px solid #444444;
	width: 90px;
	background: #f8f8f8;
	color: #444444;
	cursor: pointer;
}

/* 프로젝트 생성 팝업 */

#createPopup {
	/* 기본 배경색 지정-투명도가 모두 적용되지 않았을 때 색상 */
    background: #f6f6f6; 
    /* RGBa 적용 - Firefox, Chrome, Safari, Opera ... */
    background: rgba(246,246,246,0.5); 
    /* IE에서 Filter적용을 위해 배경을 지움 */
    background: transparent !ie; 
    /* 정상적인 Filter적용을 위해 zoom:1을 적용 */
    zoom:1; 
    /* IE5.5-7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#f6f6f6); 
    /* IE8,9 */
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#f6f6f6)";
	
	position: absolute;
	z-index: 5;
	display: none;
	width: 738px;
	height: 519px;
	color: #444444;
	font-size: 13px;
	overflow: auto;
	text-align: center;
}

#createPopup .inputTitle{
	font-weight: bold;
	padding: 30px 30px 10px 30px;
}

#createPopup .inputName{
	padding: 0 30px 0 30px;
}

#createPopup .inputMember {
	padding: 0 30px 0 30px;
}

#createPopup #projectName {
	width: 200px;
	padding: 2px;
}

#createPopup #projectMember{
	margin: 5px 0 0 0;
	width: 200px;
	height: 130px;
}

#createPopup .bottom{
	margin: 30px 0 0 0;
	text-align: center;
}