html { height:100%; }
body { width:100%; height:100%; margin:0; FONT-FAMILY: arial, helvetica, san-serif; FONT-SIZE: 12px; background: #FDF5E6; overflow:auto; }
img { border:0; }
input.button { border:0; color:#FFF; font-size: 12px; background-color:#906D3B; border:1px solid; border-color: #fff #F0CB85 #F0CB85 #fff; }
input.button:hover { border-color: #000 #000 #000 #000; cursor: pointer; }

#top { background: url('../image/top_bg.png'); color: #ffffff; height: 22px; width: 100%; z-index: 1; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#top .center { margin: 0 auto; text-align: left; width: 710px; }
#top .east { float: right; font-size: 12px; font-variant: small-caps; }
#top .east div { border-left: 1px solid #fff; border-right:1px solid #2e2e2e; color: #ffffff; cursor: pointer; float:left; padding: 3px 10px 4px; }
#top .east div.cur { background:none; color: #ffffff; padding: 3px 10px 4px; border-left: 1px solid #AE905E; border-right:1px solid #8B4513; }
#top .east div.cur:hover { color: #000000; }

#canvas { width: 732px; height:615px; z-index: 1; left:150px; top:30px; opacity:1; display:block; }
#canvas {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#canvas .TM, #canvas .MM, #canvas .BM { width: 700px; }
#canvas .ML, #canvas .MM, #canvas .MR { height: 575px; }
#canvas .MM canvas { position: absolute; }
#canvas .center { margin-top: 3px; text-align: center; color: #ffffff; width: 100%; }
#canvas .center span { font-size: 13px; width: 0; }

#ctx_canvas { background-color:#FFFFFF; width:700px; height:575px; }
#bound { height: 575px; overflow: hidden; position: absolute; top: 29px; left: 16px; width: 700px; }

#tools {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#tools { width: 108px; top:30px; left:55px; z-index:2; opacity:5; display:block; }
#tools .TM, #tools .MM, #tools .BM { width: 72px; }
#tools .ML, #tools .MM, #tools .MR { height: 236px; }
#tools .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#tools .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#tools .MM div { background:#FFF; margin:4px; width:26px; font-size: 11px; height:26px; float:left; cursor:pointer; border:1px solid #F0CB85; }

#adds {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#adds { width: 150px; top:50px; left:800px; z-index:2; opacity:5; display:block; }
#adds .TM, #adds .MM, #adds .BM { width: 118px; }
#adds .ML, #adds .MM, #adds .MR { height: 60px; }
#adds .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#adds .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#adds .MM div.hr { margin:0; margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#adds .MM div.addslist { background:#906D3B; margin:3px 0 0 0; width:118px; font-size: 11px; color: #ffffff; padding:5px 0 5px 0; height:11px; }
#adds .MM div.addslist:hover { color: #ffffff; cursor:pointer; }
#adds .MM div.addslist span { margin:0 0 0 8px; }

#personPopup {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#personPopup { width: 235px; top:100px; left:430px; z-index:2; opacity:5; display:none; }
#personPopup .TM, #personPopup .MM, #personPopup .BM { width: 200px; }
#personPopup .ML, #personPopup .MM, #personPopup .MR { height: 230px; }
#personPopup .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#personPopup .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#personPopup .MM div img { float: left; background: #2b2b2b; width: 45px; height: 45px; margin: 5px 0 0 5px; }
#personPopup .MM div img:hover { cursor: pointer; }
#personPopup .MM div.hr { margin:0; margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#personPopup .MM div.title { margin: 3px 0 0 0; background:#906D3B; font-size: 11px; color: #FFF; padding:3px 0 3px 5px; }
#personPopup .MM div.content { margin: 5px 0 5px 0; width: 100%; }
#personPopup .MM div.content input { width: 100%; }
#personPopup .MM div.content input:focus { background-color: #F0CB85; }
#personPopup .MM div.bottom { position:absolute; bottom: 20px; right: 30px; }

#todoPopup {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#todoPopup { width: 235px; top:100px; left:500px; z-index:3; opacity:5; display:none; }
#todoPopup .TM, #todoPopup .MM, #todoPopup .BM { width: 200px; }
#todoPopup .ML, #todoPopup .MM, #todoPopup .MR { height: 220px; }
#todoPopup .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#todoPopup .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#todoPopup .MM div.hr { margin:0; margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#todoPopup .MM div.title { margin: 3px 0 0 0; background:#906D3B; font-size: 11px; color: #FFF; padding:3px 0 3px 5px; }
#todoPopup .MM div.content { margin: 5px 0 5px 0; width: 100%; }
#todoPopup .MM div.calendar { margin: 5px 0 5px 0; width: 100%; }
#todoPopup .MM div.calendar input { width: 160px; }
#todoPopup .MM div.calendar img { float: right; margin: 2px 0 0 0;}
#todoPopup .MM div.calendar img:hover { cursor: pointer; }
#todoPopup .MM div.content input { width: 100%; }
#todoPopup .MM div.content input:focus { background-color: #F0CB85; }
#todoPopup .MM div.bottom { position:absolute; bottom: 20px; right: 30px; }

#properties {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#properties { width: 225px; top:150px; left:800px; z-index:2; opacity:5; display:block; }
#properties .TM, #properties .MM, #properties .BM { width: 180px; }
#properties .ML, #properties .MM, #properties .MR { height: 400px; }
#properties .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#properties .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#properties .MM div.hr { margin:0; margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#properties .MM div.title { margin: 3px 0 0 0; font-size: 11px; color: #ffffff; padding:3px 0 3px 5px; }
#properties .MM div.content { margin: 5px 0 5px 0; width: 100%; }
#properties .MM div.content input { width: 175px; }
#properties .MM div.content textarea { width: 175px; }
#properties .MM div.content_who { width: 100%; height: 80px; background: #FFF; overflow: auto; white-space: nowrap; }

#savePopup {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#savePopup { width: 235px; top:100px; left:500px; z-index:3; opacity:5; display: none; }
#savePopup .TM, #savePopup .MM, #savePopup .BM { width: 200px; }
#savePopup .ML, #savePopup .MM, #savePopup .MR { height: 100px; }
#savePopup .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#savePopup .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#savePopup .MM div.hr { margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#savePopup .MM div.title { margin: 3px 0 0 0; font-size: 11px; color: #fff; padding:3px 0 3px 5px; }
#savePopup .MM div.content { margin: 5px 0 5px 0; width: 100%; }
#savePopup .MM div.content input { width: 185px; }
#savePopup .MM div.bottom { position:absolute; bottom: 20px; right: 30px; }

#loadPopup {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#loadPopup { width: 235px; top:100px; left:500px; z-index:3; opacity:5; display: none; }
#loadPopup .TM, #loadPopup .MM, #loadPopup .BM { width: 200px; }
#loadPopup .ML, #loadPopup .MM, #loadPopup .MR { height: 100px; }
#loadPopup .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#loadPopup .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#loadPopup .MM div.hr { margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#loadPopup .MM div.title { margin: 3px 0 0 0; font-size: 11px; color: #fff; padding:3px 0 3px 5px; }
#loadPopup .MM div.content { margin: 5px 0 5px 0; width: 100%; }
#loadPopup .MM div.content input { width: 185px; }
#loadPopup .MM div.bottom { position:absolute; bottom: 20px; right: 30px; }

#fontPopup {  -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#fontPopup { width: 175px; top:100px; left:500px; z-index:3; opacity:5; display: none; }
#fontPopup .TM, #fontPopup .MM, #fontPopup .BM { width: 140px; }
#fontPopup .ML, #fontPopup .MM, #fontPopup .MR { height: 80px; }
#fontPopup .left { margin-top:3px; text-align:left; color: #ffffff; width: 100%; }
#fontPopup .left span { font-size: 12px; white-space: no-wrap; width: 0; }
#fontPopup .MM div.hr { margin: 3px 0 5px 0; background:#8B4513; height:1px; border:0; width:100%; }
#fontPopup .MM div.style { background:#FFFFFF; margin:4px; width:26px; font-size: 11px; height:26px; float:left; cursor:pointer; border:1px solid #F0CB85; }
#fontPopup .MM div.style img { margin: 5px; }
#fontPopup .MM div .size { width: 50px; margin: 10px 5px 0 5px; }
#fontPopup .MM div.bottom { position:absolute; bottom: 20px; right: 30px; }

.gui { opacity: 0; display: none; position: absolute; top: 0; left: 0; z-index: 2; }
.gui .TL { background: url('../image/win_LT.png'); width: 16px; height: 26px; float: left; }
.gui .TM { background: url('../image/win_MT.png'); cursor: move; width: 75px; height: 20px; float: left; text-align: left; padding-top: 6px; color: #8B4513; font-size: 13px; font-variant: small-caps;  }
.gui .TR { background: url('../image/win_RT.png'); width: 16px; height: 26px; float: left; }
.gui .ML { background: url('../image/win_LM.png'); float: left; width: 16px; height: 257px; }
.gui .MM { background: url('../image/win_MM.png'); float: left; width: 75px; cursor: default; }
.gui .MR { background: url('../image/win_RM.png'); float: left; width: 16px; height: 257px; }
.gui .BL { background: url('../image/win_LB.png') 0 -22px; float: left; width: 16px; height: 20px; }
.gui .BM { background: url('../image/win_MB.png') 0 -22px; float: left; width: 75px; height: 20px; }
.gui .BR { background: url('../image/win_RB.png') -16px -22px; cursor: nw-resize;float: left; width: 16px; height: 20px; }