body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a:link { color: black;text-decoration:none; }
a:visited { color: black;text-decoration:none; }
a:active { color: black;text-decoration:none; }
a:hover {color: black; text-decoration:none;}

#top {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #9DA2A9;
	background: #f8f8f8;
}

#top div{
	padding: 4px 0 4px 0;
	font-size: 13px;
	font-weight: bold;
	color: #828282;
}

#top div img {
	width: 100px;
	height: 100px;
	border: 0;
}

#main {
	width: 100%;
	text-align: center;
}

#main .comment {
	padding: 5px 0 0 0;
}

#main .adds {
	padding: 5px 0;
	border-bottom: 1px solid #E4E5E7;
	font-size: 14px;
	cursor: pointer;
}

#main .adds img {
	border: 1px solid #cacaca;
	border-radius: 5px;
}

#bottom {
	border-top: 1px solid #9DA2A9;
	border-bottom: 1px solid #9DA2A9;
	background: #f8f8f8;
	width: 100%;
	height: 40px;
	text-align: center;
}

#bottom div{
	font-size: 13px;
	height: 10px;
	padding: 15px 0 15px 0;
	color: #828282;
}