body {
	background: #000000;
}

table,td {
	border: 1px solid #CCC;
	border-bottom-left-radius: 1em;
	font: sans-serif;
	font-size: 12px;
	background: #FFF;
}

table {
	margin: auto;
	width: 1000px;
}

thead th,tbody th {
	background: #FFF repeat-x;
	color: #666;
	padding: 5px 10px;
	border-left: 1px solid #CCC;
}

tbody th {
	background: #fafafb;
	border-top: 1px solid #CCC;
	text-align: left;
	font-weight: normal;
}

tbody tr td {
	padding: 5px 10px;
	color: #666;
}

tbody tr:hover {
	background: #FFF repeat;
}

tbody tr:hover td {
	color: #000;
}

tfoot td,tfoot th {
	border-left: none;
	border-top: 1px solid #CCC;
	padding: 4px;
	background: #FFF repeat;
	color: #666;
}

caption {
	text-align: left;
	font-size: 120%;
	padding: 10px 0;
	color: #666;
}

table a:link {
	color: #666;
}

table a:visited {
	color: #666;
}

table a:hover {
	color: #003366;
	text-decoration: none;
}

table a:active {
	color: #003366;
}